@media (max-width: 768px) {
  .shopProducts {
    overflow-x: hidden;
  }
  .shopProductWrapper {
    width: 100%;
    max-width: 1024px;
  }
  .shopItem {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    max-width: 1024px;
  }
  .shopItem .shopItemTitle {
    margin-left: 1rem;
  }
  .shopItem div:first-child {
    margin-left: 0rem;
  }
  .shopItem div div img {
    width: 100%;
  }
  .shop-cards {
    width: 26rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 3;
  }
  .categories {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex: 1;
  }
  .shop-card {
    width: 100%;
    margin-bottom: 1rem;
  }
  .shop-img {
    width: 16rem;
  }
  .filter {
    margin-top: -5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
}

.AddToCartBox {
  box-sizing: border-box;
}
